@use '../../../../styles/variables' as v;

.link-more  {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 9px;

    .button-more {
        padding: 0;
        border: 0;
        background-color: white;
        // font-size: 20px;
    }
}

.link-more, .button-more {
    color: v.$secondColor;
    font-size: 18px;
}