@use '../../styles/variables' as v;

.header {
    display: flex;
    flex-direction: column;
    gap: 3em;
    margin: 0 0 5em 0;
}

.first-row {
    padding: 0;
    background-color: v.$firstColor;
    display: flex;
    align-items: center;

    .col {
        display: flex;
        justify-content: center;
    }
}