.notfound {
    padding: 0 0.5em;

    .message-notfound {
        color: red;
        font-size: 1.5em;
    }
}

@media (max-width: 480px) {

    .message-notfound {
        font-size: 15px !important;
        display: block;
    }
}