.recipe-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 15em;
    gap: 20px;

    ul {
        list-style: none;
        padding: 0;
    }

    .description {
        width: 100%;
        margin-top: 5em;
    }

    .vertical-line {
        border-left: 1px solid #000;
        height: 100px;
      }
      
}

@media (max-width: 480px) {
    .recipe-page {
        padding: 0 3em;

        .title-recipe {
            font-size: 20px;
        }

        .img-recipe img {
            width: 15em;
        }

        .details {
            width: 80%;

            i {
                font-size: 15px;
            }
    
            span {
                display: block;
                font-size: 15px;
            }
        }

        .description {
            display: flex;
            flex-direction: column;
            gap: 20px;
            margin-top: 2em;

            span {
                display: block;
            }

            .prepare {
                border-left: 0;
                padding: 20px 0 0 0;
                border-top: solid 1px black;
            }
        }
    }
}