@use '../../../styles/variables' as v;

.add {

    .btn-add {
        border-radius: 50px;
        display: flex;
        gap: 5px;
        background-color: v.$secondColor;
        border: 0;
        color: white;
    }
}