.main {
    padding: 0 15em;
    display: flex;
    flex-direction: column;
    gap: 7em;
    margin-top: 7em;

    .section {
        display: flex;
        flex-direction: column;
        gap: 2em;
    }
}