.button-co{
    border-radius: 30px !important;
    color: white;
    border: solid 1px white;
    background-color: white;
    
    span {
        color: orangered;
    }

    .bi {
        margin-right: 10px;
        color: orangered;
    }
}
