.button-co{
    border-radius: 30px !important;
    
    span, .bi {
        color: orangered;
    }

    .bi {
        margin-right: 10px;
    }
}

@media (max-width: 480px) {
    span {
        display: none;
    }

    .bi {
        margin: 0 !important;
    }
}
