.ingredients {
    padding: 0;
    
    .list-ingredients {
        display: flex;
        flex-direction: column;
        gap: 10px;

        span {
            font-weight: bold;
            font-style: italic;
        }
    }
}