@use '../../styles/variables' as v;

.header {
    display: flex;
    flex-direction: column;
    gap: 5em;
    margin: 0 0 5em 0;

    .first-row {
        padding: 0;
        background-color: v.$firstColor;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10em;
    }

    .menu-burger {
        display: none;
    }
}

@media (max-width: 480px) {
    .header {

        .first-row {
            gap: 7em;

            ul {
                display: none !important;
            }

            .menu-burger {
                display: flex;

                i {
                    font-size: 40px;
                }
            }
        }

    }
}