@use '../../../styles/variables' as v;

.reviews {
    width: 100%;
    margin-top: 3em;

    h2 {
        padding: 0;
    }

    .add-comment {
        padding: 0;
        display: flex;
        flex-direction: column;
        gap: 10px;

        .write-comment {
            width: 80%;
        }
    
        .btn-submit-comment {
            border: 0;
            background-color: v.$secondColor;
            width: min-content;
        }
    }

    #rate-select {
        margin-left: 10px;
    }

}