@use '../../styles/variables' as v;

.footer {
    height: 10em;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2em;
    background-color: v.$firstColor;

    .link {
        display: flex;
        gap: 15em;

        a {
            color: white;
        }
    }

    .github {
        color: white;
        font-size: 30px;
    }

}