// .cards {
//     display: flex;
//     justify-content: center;
//     gap: 50px;
// }
// .carousel {
//     margin-left: 15em;
// }

.slide {
    width: 30em;
}

.carousel-indicators {
    display: none;
}

.carousel-control-prev, .carousel-control-next {
    width: 5%;
}
